

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
    <script>
      $(document).ready(function(){ 
         $('.view-more').on('click', function(){
            var data = $(this).attr('rel');
            alert("View more comment " + data);
            
         })
         // $('.like-blog-post').on('click', function(){


         //    alert('Like Blog Post');
         //    $('.hand-thumbs-up-black')
         //    $('.hand-thumbs-up-white')
            

         // });

        
            // $('.like-blog-post').toggle(
            //    function(){$(this).css({"color": "red"});},
            //    function(){$(this).css({"color": "blue"});},
            //    function(){$(this).css({"color": "green"});
            // });

         $('.like-blog-post').on('click', function(){ 
            $(".hand-thumbs-up-black").toggleClass("d-none");
            $(".hand-thumbs-up-white").toggleClass("d-none");  
            var inpitLike = $(this).attr('rel');
            document.querySelector('#'+inpitLike).click();

         });
         var data;
         $('.comment-section-blog-post').hide();
         $('.comment-blog-post').on('click', function(){ 
            var data = $(this).attr('rel');  
            $( '#'+data ).slideToggle( "medium" ); 
 

            // $('#'+data).slideToggle(500, function(){
            //    $('#'+data).removeClass('d-none');
            // });  


         //    var obj = {'like_status': 1};
         //    var myJSON = JSON.stringify(obj);
         //    $.ajax({
         //        type: 'POST',
         //        url: '{% url "home" %}', 
         //        data:myJSON,
         //        contentType: 'application/json;charset=UTF-8',
         //        async: false,
         //        dataType: 'json',
         //        success: function (response) {
         //            document.location.reload(true);
         //            alert("The text has been changed." + name);
         //        }
         //    });
         });


         // $('.counter-comment').attr(rel);

         // var numItems = $('.item').length;

         $('textarea').autoResize();
      })
      </script>